.venv
venv
__pycache__/
*.py[cod]
build/
dist/
.eggs/
*.egg-info/
.git
.gitignore
.ipynb_checkpoints/
.notebooks
logs/
# Include only writing samples from data; exclude everything else
data/*
!data/writing_samples/**
!data/writing_samples
output/
storage/
.env